<ion-view view-title="About Us">
  <ion-content>
        <div class="list card">
			<div class="item">
    			<h2>SD Advertisements</h2>
  			</div>
  			<div class="item item-body">
			 	<p>
			      {{apps[0].about_us}}
			    </p>
			    <p>
			    Visit Our Website:
			    	<a href="http://www.sdadvertisements.com">www.sdadvertisements.com</a>
			    </p>
			    <p>We Are Social </p>
			    <div class="text-center">
			    <p>
					<a href="https://www.facebook.com/SD.Advertisements/"><i class="icon ion-social-facebook facebook padding"></i></a>
			        <a href="https://www.instagram.com/sd.advertisements/" ><i class="icon ion-social-instagram instagram padding"></i></a>
			        <a href="https://twitter.com/"><i class="icon ion-social-twitter twitter padding"></i></a>
			        <a href="https://plus.google.com/u/0/101243752201328559851"><i class="icon ion-social-googleplus google-plus padding"></i></a>
			        <a href="https://www.linkedin.com/organization/13253084/admin/updates"><i class="icon ion-social-twitteral-linkedin linkedin padding"></i></a>   
			    </p>
			    </div>
	  		</div>
		</div>
  </ion-content>
</ion-view>
