<ion-view view-title="Ad With Us">
  <ion-content>
  <div ng-controller="AddCntrl">
  	<button class="button button-full button-positive">SD Advertisements</button>
	{{message}}
	<div class="error" ng-repeat="(key,errors) in errorlist">
		<div ng-repeat="error in errors">
			{{error}}	
			</div>

	</div>
	<form name="adwithus" ng-submit="submitForm(adwithus)" novalidate>
			
		<div class="list">
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Shop Name / Service</span>
		    <input type="text" name="shopname" ng-model="data.shopname" placeholder="Shop Name / Service" required>
			  	<span ng-if="adwithus.$submitted|| adwithus.shopname.$touched">
				  	<span class="error" ng-show="adwithus.shopname.$error.required">
				  		Shop Name / Service is required.
				  	</span>

			  	</span>
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Shop Address</span>
		    <textarea placeholder="Shop Address" name="shopaddress" ng-model="data.shopaddress" required></textarea>
		  	<span ng-if="adwithus.$submitted|| adwithus.shopaddress.$touched">
		  	<span class="error" ng-show="adwithus.shopaddress.$error.required">Shop Address is required.</span>
		  	</span>
		  </label>
		  <label class="item ">	
				<span class="input-label">Shop Timing / Working Hours</span>
			  	<label class="item item-input" ng-click="openTimePicker1()">
                    <span class="input-label"> From</span>
                    <input type="text" placeholder="From"  ng-model="data.from">
                </label>
		  		<label class="item item-input" ng-click="openTimePicker2()">
                    <span class="input-label"> To  </span>                    
                    <input type="text"  placeholder="To"  ng-model="data.to">
                </label>
		  </label>
		  <label class="item item-input item-select ">
		    <span class="input-label">
		      Weekly Off
		    </span>
		    <select ng-model="data.weeklyoff">
		      <option value="">Select Day</option>
		      <option value="Monday">Monday</option>
		      <option value="Tuesday">Tuesday</option>
		      <option value="Wendesday">Wendesday</option>
		      <option value="Thursday">Thursday</option>
		      <option value="Friday">Friday</option>
		      <option value="Saturday">Saturday</option>
		      <option value="Sunday">Sunday</option>
		    </select>
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Shop Owner Name</span>
		    <input type="text" name="owner" placeholder="Shop Owner Name" ng-model="data.owner" required>
		  	<span ng-if="adwithus.$submitted|| adwithus.owner.$touched">
		  	<span class="error" ng-show="adwithus.owner.$error.required">Shop Owner Name is required.</span>
		  	</span>
		  </label>
		   <label class="item item-input item-floating-label">
		    <span class="input-label">Description</span>
		    <textarea placeholder="Description" name="description" ng-model="data.description" required></textarea>
		    <span ng-if="adwithus.$submitted|| adwithus.description.$touched">
		  	 <span class="error" ng-show="adwithus.description.$error.required">Description is required.</span>
		  	 </span>
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Contact Number</span>
		    <input type="number" placeholder="Contact Number" name="contactno" ng-model="data.contactno" required>
		    <span ng-if="adwithus.$submitted|| adwithus.contactno.$touched">
			 	<span class="error" ng-show="adwithus.contactno.$error.required">Contact Number is required.</span>
			 	<span class="error" ng-show="adwithus.contactno.$error.number">Only Numbers Allowed</span>
		  	</span>
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Optional Contact Number</span>
		    <input type="number" placeholder="Optional Contact Number" name="optcontact" ng-model="
		    data.optcontact">
		  	<span ng-if="adwithus.$submitted|| adwithus.optcontact.$touched">
		  	<span class="error" ng-show="adwithus.optcontact.$error.number">Only Numbers Allowed</span>
		  </span>
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="email" placeholder="Email" name="email" ng-model="data.email">
		    <span ng-if="adwithus.$submitted|| adwithus.email.$touched">
		  		<span class="error" ng-show="adwithus.email.$error.email">Invalid email address.</span>
		  	</span>
		  </label>
		  <input type="submit" class="button button-block button-balanced" ng-disabled="adwithus.data.$dirty && adwithus.data.$invalid" value="Submit" name="submit">
		</div>
	</form>
</div>
  </ion-content>
</ion-view>
