<ion-view view-title="Bus">
  <ion-content>
	
	<!-- <label class="item item-input">
	  <i class="icon ion-search placeholder-icon"></i>
	  <input type="search" placeholder="Search">
	</label> -->
   <div class="list card">
       <div class="item item-avatar">
          <img src="img/nature.jpg">
          <h2>John Doe</h2>
          <p>This is John From Australia...</p>
        </div>
       
        <div class="item item-image">
          <img src="img/nature.jpg">
        </div>
      </div>
  
  </ion-content>
</ion-view>
