<ion-view>
	<ion-content>
		  <bus-detail></bus-detail>
		<!-- <div class="card">
		  <div class="item item-text-wrap">
		    Shingave To Ajra[Ordinary Bus]
		    <div class="padding-top"></div>
				<h4>Time [Form Shigave,Naraygoan]:8:30PM</h4>
			</div>		  
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
		    Shingave To Ajra[Ordinary Bus]
		    <div class="padding-top"></div>
				<h4>Time [Form Shigave,Naraygoan]:8:30PM</h4>
			</div>		  
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
		    Shingave To Ajra[Ordinary Bus]
		    <div class="padding-top"></div>
				<h4>Time [Form Shigave,Naraygoan]:8:30PM</h4>
			</div>		  
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
		    Shingave To Ajra[Ordinary Bus]
		    <div class="padding-top"></div>
				<h4>Time [Form Shigave,Naraygoan]:8:30PM</h4>
			</div>		  
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
		    Shingave To Ajra[Ordinary Bus]
		    <div class="padding-top"></div>
				<h4>Time [Form Shigave,Naraygoan]:8:30PM</h4>
			</div>		  
		</div> -->
		
	
	</ion-content>
</ion-view>