<ion-view view-title="Contact">
  <ion-content>
 	<div class="list card">
	   <a ng-href="tel:{{apps[0].mobile2}}" class="item item-icon-left"> <i class="icon ion-ios-telephone"></i> +91-{{apps[0].mobile2}}</a>
	   <a ng-href="tel:{{apps[0].mobile1}}" class="item item-icon-left"> <i class="icon ion-ios-telephone"></i> +91-{{apps[0].mobile1}}</a>
	  <a href="mailto:{{apps[0].email}}" class="item item-icon-left">
	    <i class="icon ion-email"></i>
	     {{apps[0].email}}
	  </a>
	</div>
  </ion-content>
</ion-view>
