<ion-view view-title="Hospital">
  <ion-content>
    <div class="card">
		  <div class="item item-text-wrap">
		    <h2 class="padding-left">Shraddha Hospital</h2>
		    <p class="padding-left">Address:naraygoan,Behind ST Stand</p>
		    <p class="padding-left">Contact:987654321</p>
		    <div class="padding-top"></div>
		  	<div class="row">
		  		<div class="col col-50">
		  			<button class="button button-block button button-small button-balanced icon ion-android-call icon-right">
					  Call US
					</button>
		  		</div>
		  		
		  		<div class="col col-50">
		  			<button class="button button-block button button-small button-assertive
		  		   icon ion-android-share-alt icon-right">
					  Share
					</button>
		  		</div>
		  	</div>
			</div>		  
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
		    <h2 class="padding-left">Shraddha Hospital</h2>
		    <p class="padding-left">Address:naraygoan,Behind ST Stand</p>
		    <p class="padding-left">Contact:987654321</p>
		    <div class="padding-top"></div>
		  	<div class="row">
		  		<div class="col col-50">
		  			<button class="button button-block button button-small button-balanced icon ion-android-call icon-right">
					  Call US
					</button>
		  		</div>
		  		
		  		<div class="col col-50">
		  			<button class="button button-block button button-small button-assertive
		  		   icon ion-android-share-alt icon-right">
					  Share
					</button>
		  		</div>
		  	</div>
			</div>		  
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
		    <h2 class="padding-left">Shraddha Hospital</h2>
		    <p class="padding-left">Address:naraygoan,Behind ST Stand</p>
		    <p class="padding-left">Contact:987654321</p>
		    <div class="padding-top"></div>
		  	<div class="row">
		  		<div class="col col-50">
		  			<button class="button button-block button button-small button-balanced icon ion-android-call icon-right">
					  Call US
					</button>
		  		</div>
		  		
		  		<div class="col col-50">
		  			<button class="button button-block button button-small button-assertive
		  		   icon ion-android-share-alt icon-right">
					  Share
					</button>
		  		</div>
		  	</div>
			</div>		  
		</div>
		<div class="card">
		  <div class="item item-text-wrap">
		    <h2 class="padding-left">Shraddha Hospital</h2>
		    <p class="padding-left">Address:naraygoan,Behind ST Stand</p>
		    <p class="padding-left">Contact:987654321</p>
		    <div class="padding-top"></div>
		  	<div class="row">
		  		<div class="col col-50">
		  			<button class="button button-block button button-small button-balanced icon ion-android-call icon-right">
					  Call US
					</button>
		  		</div>
		  		
		  		<div class="col col-50">
		  			<button class="button button-block button button-small button-assertive
		  		   icon ion-android-share-alt icon-right">
					  Share
					</button>
		  		</div>
		  	</div>
			</div>		  
		</div>
		
  </ion-content>
</ion-view>
