<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" type="overlay">
    <ion-header-bar class="bar-positive">
      <img ng-src="{{IMG_BASE}}{{apps[0].logo_image}}" height="30px" width="30px" title="{{apps[0].name}}">
         <h1 class="title"> {{apps[0].name}}</h1>
    </ion-header-bar>
    <ion-content class="side-menu-left has-header ">
     <div>
        <img ng-src="{{IMG_BASE}}{{apps[0].logo_image}}"  class="padding" style="display: block; margin-left: auto; margin-right: auto;" title="{{apps[0].name}}">
      </div>
      <ion-list>
      <ion-item menu-close href="#/app/home">
       Home
      </ion-item>
        <ion-item menu-close href="#/app/addwithus">
          Ad With Us
        </ion-item>
        <ion-item menu-close href="#/app/about">
          About Us
        </ion-item>
        <ion-item menu-close href="#/app/contact">
          Contact Us
        </ion-item>
        <ion-item menu-close href="#/app/share">
        Share
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
