
  <ion-modal-view class="">
    <div ng-controller="ReviewController">
      <form name="review" ng-submit="submitForm()" novalidate>
        <ion-header-bar class="bar-positive fix-buttons">
          
          <h1 class="title">Rate Us</h1>
          <a class="button button-positive rate-but" ng-click="closeModal()">Cancel</a>
        </ion-header-bar>
        <ion-content has-bouncing="true"> 
          <div class="padding"></div>     
          <ionic-ratings ratingsobj='ratingsObject' index="0"></ionic-ratings>
          <input type="hidden" name="id" ng-model="id">
           <div class="padding"></div>     
          <center>
            <input type="submit" class="button button-balanced" value="Submit" name="submit">   
          </center>       
        </ion-content>
      </form>
    </div>
  </ion-modal-view>
