
  <ion-modal-view class="">
    <div ng-controller="ReviewController">
      <form name="review" ng-submit="submitForm()" novalidate>
        <ion-header-bar class="bar-positive fix-buttons">
          <a class="button" ng-click="closeModal()">Cancel</a>
          <h1 class="title">Rate Us</h1>
        </ion-header-bar>
        <ion-content has-bouncing="true">      
          <ionic-ratings ratingsobj='ratingsObject' index="0"></ionic-ratings>
          <div class="row description-row">
            
            <!-- <div class="col">
              <label class="item item-input text">
                <textarea placeholder="Review" rows="5" ng-model="data.review" name="review" lose-focus-on-return></textarea>
              </label>
            </div> -->
          </div>
          <center>
            <input type="submit" class="button button-balanced" value="Submit" name="submit">   
          </center>       
        </ion-content>
      </form>
    </div>
  </ion-modal-view>
