<ion-view view-title="Share">
  <ion-content>
  	<div class="card">
      <div class="item item-text-wrap">
        <button class="button button-light" ng-click="Share('w','Hey I Am Ionic','','')">
            <i class="icon ion-social-whatsapp"></i>
              WhatsApp
      </button>
        <button class="button button-light" ng-click="whatsappShare()">
            <i class="icon ion-social-facebook"></i>
              Facebook
      </button>
        <button class="button button-light" ng-click="whatsappShare()">
            <i class="icon ion-social-twitter"></i>
              Twitter
      </button>
  </ion-content>
</ion-view>