<ion-view view-title="Shop Details">
   	<ion-content>
   		<shop-details change="onDetailsChange(details)"></shop-details>
 		
 	</ion-content>

</ion-view>
<div class="tabs tabs-icon-top">
  <a class="tab-item">
    <i class="icon ion-location"></i>
    Location
  </a>
  <a class="tab-item" href="tel:{{newDetails.mobile}}">
    <i class="icon ion-android-call"></i>
    Contact
  </a>
  <a class="tab-item">
    <i class="icon ion-star"  ng-click="openModal({{newDetails.id}})"></i>
    Ratings
  </a>
</div>
 