<div ng-repeate="advertise in advertisements"></div>
  <div class="list card">
    <div class="item item-avatar">
      
        <sub-category-image style="float: left; margin-left: -60px;"
        ></sub-category-image>
      
      <h2>{{shopdetails.shop_name}}</h2>
      <p>{{shopdetails.shop_owner}}</p>
      
    </div>

    <div class="item item-body">     
      <img  ng-if="!isEmpty(sshopdetails.shop_image)"  class="full-image" image-lazy-src="{{IMG_BASE}}{{shopdetails.shop_image}}"  lazy-scroll-resize="true" image-lazy-loader="lines"  title="{{shopdetails.shop_name}}" width="100%">
       <img  ng-if="isEmpty(sshopdetails.shop_image)"  class="full-image" image-lazy-src="{{IMG_BASE}}default_icon.png" title="{{shopdetails.shop_name}}" lazy-scroll-resize="true" image-lazy-loader="lines" style="width: 100%; height: 200px;">
      <p>
        {{shopdetails.description}}
      </p>
     
       <p>Address:{{shopdetails.shop_address}}
       </p>
       <p>Time:{{shopdetails.time_from}} to {{shopdetails.time_to}} 
       </p>
       <p>
       Contact Us:{{shopdetails.mobile}}
       </p>
       <span ng-if="isEmpty(shopdetails.weekly_off)">
          <p>
            Weekly Off:Never
          </p>         
       </span>
       <span ng-if="!isEmpty(shopdetails.weekly_off)">
       <p>
       Weekly Off:{{shopdetails.weekly_off}}
        </p>
        </span>
         <span ng-if="isEmpty(shopdetails.website)">
        <p>
          Website:Not Available
        </p>
        </span>
         <span ng-if="!isEmpty(shopdetails.website)">
          <p>
         Website:<a href="{{shopdetails.website}}" target="_BLANK">{{shopdetails.website}}</a>
          </p>
        </span>
        <span ng-if="isEmpty(shopdetails.ratings)">
          <p>
           Rating:Not Available
          </p>
        </span>
        <span ng-if="!isEmpty(shopdetails.ratings)">
          <p>
             Rating:{{shopdetails.ratings | number:1}}    <ionic-ratings ratingsobj='ratingsObject' index="0" style="margin-top: -21px;margin-left: 70px;"></ionic-ratings>
          </p>
          <div >
        
          </div>
        </span>
     <!--  <p>
        <a href="#" class="subdued">1 Like</a>
        <a href="#" class="subdued">5 Comments</a>
      </p> -->
    </div>
  </div>
