<form  name="signupFrm" ng-submit="signup(signupFrm)" novalidate>		
  <div class="list">
    <label class="item item-input item-floating-label item-stacked-label">
      <span class="input-label">First Name</span>
      <input type="text" ng-model="user.name" name="name"  placeholder="Full Name" required>
      <span ng-if="signupFrm.$submitted|| signupFrm.name.$touched">
      	<span class="error" ng-if="signupFrm.name.$error.required">
      	Please Enter Your Name
      	</span>
      </span>
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="email" ng-model="user.email" name="email" placeholder="Email">
       	<span class="error" ng-show="signupFrm.email.$error.email">Invalid email address.</span>      
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Mobile No</span>
      <input type="text" ng-model="user.mobile" name="mobile" placeholder="Mobile Number" required>
       <span ng-if="signupFrm.$submitted|| signupFrm.mobile.$touched">
       <span class="error" ng-if="signupFrm.mobile.$error.required">
      	Please Enter Your Mobile
      	</span>
      </span>
    </label>
  </div>
      <button type="submit" id="signup-button1" class="button button-positive  button-block">Sign up Using OTP</button>
</form>