 	<div>
	    <a class="button button-block button-positive" href="#/app/busdetail/{{bus.destination}}">
	      From Narayangaon
	      <!-- <img src="venkman.jpg">
	       <div style="float: left;" class="padding">
	       <h2>Departure's </h2>
	      	</div>
	      <p></p> -->
	    </a>
	    <a class="button button-block button-positive" href="#/app/arrival/{{bus.source}}">
	      To Narayangaon
	      <!-- <img src="venkman.jpg">
	       <div style="float: left;" class="padding">
	       <h2>Arrival's </h2>
	      	</div>
	      <p></p> -->
	    </a>
    </div>
