<div class="card">
      <div class="item item-text-wrap">
        <div>
           <button class="button button-light" ng-click="share(val)">
            <i class="icon ion-social-whatsapp whatsapp padding"></i>
               Share Via WhatsApp
            </button>   
        </div>
        <div>
           <button class="button button-light" ng-click="share(val)">
            <i class="icon ion-social-facebook facebook padding"></i>
              Share Via Facebook
            </button>   
        </div>
        <div>
          <button class="button button-light" ng-click="share(val)">
            <i class="icon ion-social-twitter twitter padding"></i>
              Share Via Twitter
          </button>          
        </div>
        <div>
          <button class="button button-light" ng-click="share(val)">
            <i class="icon ion-social-instagram instagram padding"></i>
              Share Via Instagram
          </button>
        </div>
        <div>
          <button class="button button-light" ng-click="share(val)">
            <i class="icon ion-social-googleplus google-plus padding"></i>
              Share Via Google Plus
          </button>
        </div>
        <div>
          <button class="button button-light" ng-click="share(val)">
            <i class="icon ion-social-linkedin linkedin padding"></i>
              Share Via Linked
          </button>
        </div>
        

</div>
